:root{
    --zoldessarga : rgb(244, 255, 214);
    --kekesfeher: rgb(237, 255, 253);
    --kekes: rgb(160, 193, 190);
    --nagyonkek: rgb(155, 241, 255);
    --sotetebbkek: rgb(82, 153, 195);
    --melegfeher: rgb(255, 247, 228);
    --szekrenyszurke: rgb(140, 162, 184);
    --kolbaszzsirsarga: rgb(82, 153, 195);
}
