:root{
  --zoldessarga : rgb(244, 255, 214);
  --kekesfeher: rgb(237, 255, 253);
  --kekes: rgb(160, 193, 190);
  --nagyonkek: rgb(155, 241, 255);
  --sotetebbkek: rgb(82, 153, 195);
  --melegfeher: rgb(255, 247, 228);
  --szekrenyszurke: rgb(140, 162, 184);
  --kolbaszzsirsarga: rgb(181, 199, 144);
  --feher:rgb(255, 255, 255);
  --sotetkek : rgb(34, 47, 51);
  --kijelolesszurke: rgb(94, 94, 94);
  --hatterszurke: rgb(115, 128, 130);
  --kijelolopiros: rgb(203, 54, 54);
}

body{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--nagyonkek);
  background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2014/02/11/251987/34dc22192282f081d7701db77634c6a4-700.jpg);
  background-size: cover;
  color: var(--feher);
}

.lent{
  border-top:var(--kijelolopiros) solid ;
  border-bottom: var(--kijelolopiros) solid !important;
  position: absolute; /*Ezzel egy kicsit szenved a border de jelenleg nincs jobb otletem */
  bottom:0;
  margin-bottom: 50px;
  padding: 10px;
  margin-left: 12px;
  margin-right: 12px;
}

.lent:hover{
  color: var(--kijelolopiros) !important;
  background-color: var(--fekete)!important;
}

.sidenav{
  height: 100vh;
  width: 7.5%;
  text-align: center;
  /*padding-top: 20px; (Logó lenne a sidenav tetején? vagy csak teljesen kozmetikai ez a padding?)*/
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--sotetkek);
}

#szamitogep{
  background-image: url(kepek/hatter/hatter_szamitogep.jpg) !important;
  background-size: cover;
}

#szamologep{
  background-image: url(kepek/hatter/hatter_szamolo.webp) !important;
  background-size: cover;
}

#nyomtato{
  background-image: url(kepek/hatter/hatter_nyomtato.jpg) !important;
  background-size: cover;
}

.sidenav a {
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  color: var(--kekesfeher);
  display: block;
  border-bottom: var(--feher) solid;
}

.sidenav a:hover {
  color: var(--zoldessarga);
  background-color: var(--kijelolesszurke);
}

.carousel-item img{
  align-content: flex-start;
  max-width: 600px; /*a szamokkal kell meg szenvedni hogy jol nezzen ki fullhd monitoron media@ is lehetne hasznalni*/
  max-height: 350px;
  /* object-fit: cover; */
}

h2{
  font-size: larger;
  /*padding: 0px;*/
  text-indent: 10px;
}

table {
  /*border-collapse: collapse;(reboot.scss már alapjárat rak ilyet a table-re)*/
  background-color: var(--hatterszurke);
  border-radius: 10px;
}

td{
  text-align: left;
  padding: 8px;
  vertical-align: text-top;
}

.tablasorcim{
  font-weight: bold;
  width: 13%;
  font-size: 15px;
}

tr:hover {
  background-color: var(--szekrenyszurke);
}

header h1{
  text-align: center;
  width: fit-content;
  background-color: var(--hatterszurke);
  border-radius: 10px;
  margin: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  color: var(--fekete);
}

@media screen and (max-width: 990px){
  .sidenav{
    display: none;
  }
  .col-7{
    width: 66.66666667%; /*Mintha egy col-8 lenne, csak nem*/
  }
}

.szoveg{
  background-color: var(--hatterszurke);
  border-radius: 10px;
  padding: 20px;
}

.szoveg p{
  text-align: left;
  margin-left: 25px;
}

.nemtudtamkitalalnikreativnevet{
  margin-left: 12px;
}
