@charset "UTF-8";
/*!
	Timeline - v0.0.1
	ilker Yılmaz
	https://github.com/ilkeryilmaz/timeline
 */

:root {
  --vilagoskek: #79acd6;
  --sotetkek: #3a668a;

    /*---------------Felülírás root---------------*/
  --zoldessarga : rgb(244, 255, 214);
  --kekesfeher: rgb(237, 255, 253);
  --kekes: rgb(160, 193, 190);
  --nagyonkek: rgb(155, 241, 255);
  --sotetebbkek: rgb(82, 153, 195);
  --melegfeher: rgb(255, 247, 228);
  --szekrenyszurke: rgb(140, 162, 184);
  --kolbaszzsirsarga: rgb(181, 199, 144);
  --feher:rgb(255, 255, 255);
  --sotetkek : rgb(34, 47, 51, 0.8);
  --kijelolesszurke: rgb(94, 94, 94);
  --hatterszurke: rgb(115, 128, 130, 0.8);
  --kijelolopiros: rgb(203, 54, 54);
  --babakék: rgb(157, 203, 235);
  /* --sotetkek: rgb(58, 102, 138); */

}



header {
  background-color: var(--vilagoskek);
  padding: 10px 20px 10px 10px;
  width: 100%;
  margin: 5px !important;
  border-radius: 10px;
}

header h1 {
  color: white; /* Lehet feketén szebben nézne ki*/
  font-size: 32px;
  font-weight: 300;
  margin-top: 0px;
  padding-top:5px;
}


footer {
  position: fixed;
  bottom: 0.5em;
  left:0px;
  width: 1980px;
  text-align: center;
}

footer h1 {
  color: var(--sotetkek);
  font-family: Raleway;
  font-weight: 300;
}

.information button {
  position: relative;
  right: 0;
}


.information>p>button{
  position: absolute;
  bottom:0;
  margin:50px;
}

.information {
  background-color: rgba(255, 255, 255, 0.7);
  margin:20px;
  border-radius: 20px;
  padding: 10px;
  height: 95vh;
  color: black;
  font-weight: 400;
  overflow-y: auto;
  overflow-x: hidden !important;
}
.btn {
  color: var(--sotetkek) !important;
  background-color: var(--vilagoskek) !important;
}

.info-item {
  width: 10em;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 18px;
  color: var(--sotetkek);
  font-family: Raleway;
  font-weight: 300;
  position: absolute; 
}

.info-img {
  width: 80px;  /*Lehet majd nagyobbra kell allitani, nincs sok eszkoz ugyan abban az evben (160 egesz jol nez ki)*/
  height: 80px;
  margin: auto;
  /* float: left; */
}

.info-img img {
  width: 100%;
  border-radius: 20px; /*Alapbol 40 volt, inkabb kockasitom, hogy a kepek ne legyenek annyira hulyek*/
}

.info-details {
  margin: auto;
} 

.info-details::after {
  content: "";
  clear: both;
}


.container {
  width: 100vh;
}

.section-list {
  margin-bottom: 2em;
  height: 100vh;
}

.timeline-1 .timeline-item {
  float:left;
  position: relative;
  top:0px;
  left:0px;
  /* display: inline-table; */
  width: 100vw;
  height: 80vh;
  border: none; 
  color: var(--sotetkek);
}

/* 
.timeline-container {
  position: relative; 
} */

.timeline-container::after {
    content: '';
    display: table;
    clear: both; 
}

.timeline {
  width: 100%; 
}

.timeline-list {
  /* position: relative; */
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.timeline-list-wrap {
  /* position: relative;
  top: 0;
  left: 0; */
  display: block;
  height: 78vh;
  transform: translate3d(0, 0, 0);
  transition: transform 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}



.timeline-dots-wrap {
  position: fixed;
  left: 0;
  bottom: 4rem;
  width: 100%;
  color: white;
  text-align: center; 
  overflow: hidden; 
}

.timeline-horizontal .timeline-dots-wrap {
    width: 100%;
}

.timeline-dots {
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: transform 1s cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}


.timeline-horizontal .timeline-dots li {
  float: left;
  width: 10em;
  text-align: center; 
}

.timeline-dots li.slide-active button {
  color: yellow;
  font-size: 18px; /*Akar ezt is lehet nagyitani*/ 
}

.timeline-dots button {
  cursor: pointer;
  border: none;
  outline: none; 
  color: white;
  font-size: 18px;
  background: none !important;
  transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}

.timeline-container {
  width: 100%;
  margin: 0 auto; 
}
  
.timeline-dots li {
  transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  list-style: none;
  overflow: hidden; 
  position: relative;                      
  font-size: 16px;
  clip-path: polygon( 0% 0%, 
                      calc(100% - 1em) 0%, 
                      100% 50%, 
                      calc(100% - 1em) 100%, 
                      0% 100%,
                      5% 50% );
  margin: 0px;
  color: white;
  text-align: left;
  padding: 20px 50px 20px 50px;
}
  
.timeline-dots li:nth-child(odd){
  background-color: var(--vilagoskek);
}
  
.timeline-dots li:nth-child(even) {
  background-color: var(--sotetkek);
}
  

  

/*
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
} */

html, body {
  overflow-x: hidden;  
  overflow-y: hidden;
}

body {
  margin: 0;
  background-image: url("../img/hatter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover, contain;
  font-family: Raleway;
  font-weight: 100;
  font-size: 110%;
}
.container-fluid {
  height: 100vh;
}
/*----------------Felülírás oldal css ----------------*/
.carousel-control-prev,.carousel-control-next{
  position: absolute !important;
}


main{
  margin-top: 15px;
}
.tablasorcim{
  font-weight: bold;
  width: 13%;
  font-size: 15px;
}
table {
  /*border-collapse: collapse;(reboot.scss már alapjárat rak ilyet a table-re)*/
  background-color: var(--babakék);
  border-radius: 10px;
}

td{
  text-align: left;
  padding: 8px;
  vertical-align: text-top;
}

tr:hover {
  background-color: var(--sotetebbkek);
}

.carousel-item img{
  align-content: flex-start;
  max-width: 600px; /*a szamokkal kell meg szenvedni hogy jol nezzen ki fullhd monitoron media@ is lehetne hasznalni*/
  max-height: 320px;
  /* object-fit: cover; */
}

@media only screen and (max-width: 900px){
  .col-12{
    padding-bottom: 15px;
  }
}

.tartalom{
  text-align: left;
  list-style-position: inside;
  padding-top: 20px;
  text-indent: 25%;
}

.tartalom>.col-4>ul,.tartalom>.col-4>h1{
  background-color: var(--babakék);
  border-radius: 10px;
}

.tartalom>.col-4>ul>li{
  padding: 10px;
}

.row{
  padding-left: 5px;
}

footer>h1, .info-item{
	cursor: pointer;
}

/* .tldr, .full-text{

} */

h2{
  margin-top: .5vw;
  margin-right: 10px;
  display: inline-block;
}

.tldrbutton:hover{
  background-color: var(--hatterszurke);
}


